{%extends 'doctor/doctorlayout.html'%} {%block content%}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Medical</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/doctorindex">Home</a></li>
                <li class="breadcrumb-item active"> <a href="/addquestion">Add Question</a> </li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row" style="margin-left: 200px;">
          <div class="col-lg-8">
    
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Question</h5>
    <form method="POST" action="">
        {%csrf_token%}
        <div class="col-md-8" >
           
            <input type="text" name="question" id="question" class="form-control" value="">
          </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="margin-left: -200px;">Add</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
    
     </div>
        </div>
    </div>
         </div>
</section>
</main>
{%endblock%}